<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <!-- bar -->
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>


  <!-- main menu -->
  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">DashBoard</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>

        <ion-item menu-close ui-sref="arena.home">
          <i class="icon ion-android-cloud"></i> Home
        </ion-item>

        <ion-item menu-close ui-sref="arena.child_add">
         <i class="icon ion-android-person-add"></i> Add Child
        </ion-item>

        <ion-item menu-close ui-sref="arena.child_list">
          <i class="icon ion-android-archive"></i> Child List
        </ion-item>

        <!--<ion-item menu-close ui-sref="arena.test">
          Test
        </ion-item>-->


        <ion-item menu-close ng-click="getting_out()">
          <i class="icon ion-android-radio-button-on"></i> Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
