<ion-modal-view cache-view="false">
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Immunization Options</h1>
    <button class="button button-clear button-primary icon ion-close" ng-click="modal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-click="immune_edit(immune)">
        <i class="icon ion-wrench"></i>
        Editing Immunization
      </ion-item>
      <ion-item ng-click="immune_delete(immune.c_i_id)">
        <i class="icon ion-trash-a"></i>
        Delete Immunization
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
