<ion-view view-title="Home" cache-view="false">
  <ion-content>

      <div class="row">
        <div class="col col-50">
          <div class="card">
            <a class="button button-block button-assertive icon ion-android-cloud" ui-sref="arena.child_list"> See Child List</a>
          </div>
        </div>

        <div class="col col-50">
          <div class="card">
            <a class="button button-block button-royal icon ion-android-boat" ui-sref="arena.disease_list"> Check Disease List</a>
          </div>
        </div>
      </div>

    <div class="row">
      <div class="col col-50">
        <div class="card">
          <a class="button button-block button-energized icon ion-heart" ui-sref="arena.immuni_side_effect"> Check Side Effects</a>
        </div>
      </div>

      <div class="col col-50">
        <div class="card">
          <a class="button button-block button-positive icon ion-person" ui-sref="arena.edit_profile"> Update Your Profile</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-50">
        <div class="card">
          <a class="button button-block button-positive icon ion-heart" ui-sref="arena.template"> Immunization List</a>
        </div>
      </div>

      <div class="col col-50">
        <div class="card">
          <a class="button button-block button-assertive icon ion-person" ui-sref="arena.template"> Immunization Center List</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-80 col-offset-10">
        <div class="card">
          <a class="button button-block button-balanced icon ion-heart" ng-click="goMainWebsite()">WebSite FeedBack</a>
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
