<ion-view view-title="{{ i_name }}" cache-view="false">
  <ion-content>

    <div class="row">
      <div class="col col-80 col-offset-10">
        <div class="center">
          <h2>Side Effect Are Given Below:</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-80 col-offset-10">
        <div class="center">
          <ul><li><h4>1.injection site reactions (pain, swelling and redness)</h4></li><li><h4>2.mild fever.</h4></li><li><h4>3.shivering.</h4></li><li><h4>4.fatigue.</h4></li><li><h4>5.headache.</h4></li><li><h4>6.muscle and joint pain.</h4></li></ul>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
