<ion-view view-title="Sign up" cache-view="false">
  <ion-content>

    <!-- {"u_email":"a@a.com","u_password":"123","u_type":"guardian","p_name":"sam","p_address":"durban","p_region":"test"}  -->

    <form  name="faleComigoForm" class="falecomigo" novalidate form-manager>
      <div class="list list-inset" ng-style="{'margin-top' : '30%'}">

        <p ng-style="{'display' : 'none'}">{{ pass_flag }}</p>

        <div class="item item-input">
          <input ng-model="message.p_name" name="fullname" type="text" ng-pattern="/[a-zA-z]+([ '-][a-zA-Z]+)*/" placeholder="Full Name" required ng-minlength="2">
          <button ng-if="fullname_flag" ng-click="show_error(faleComigoForm.fullname.$error,1)" class="button button-assertive icon ion-alert"></button>
        </div>

        <div class="item item-input">
          <input ng-model="message.p_phone" name="phone" type="number" placeholder="Phone" required>
          <button ng-if="phone_flag" ng-click="show_error(faleComigoForm.phone.$error,0)" class="button button-assertive icon ion-alert"></button>
        </div>

        <div class="item item-input">
          <input ng-model="message.u_email" name="email" type="email" ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/" placeholder="E-mail" required>
          <button ng-if="email_flag" ng-click="show_error(faleComigoForm.email.$error,0)" class="button button-assertive icon ion-alert"></button>
        </div>


        <div class="item item-input">
          <input ng-model="message.u_password" name="password" type="password" placeholder="password" required>
          <button ng-if="password_flag" ng-click="show_error(faleComigoForm.password.$error,0)" class="button button-assertive icon ion-alert"></button>
        </div>


        <div class="item item-input">
          <input ng-model="message.u_password_confirmation" name="confirm_password" ng-change="change(faleComigoForm.confirm_password,faleComigoForm.password)" type="password" placeholder="Confirm password" required>
          <button ng-if="confirm_password_flag" ng-click="show_error(faleComigoForm.confirm_password.$error,0)" class="button button-assertive icon ion-alert"></button>
        </div>


       <!-- <span ng-style="{ 'color' : 'red' }" ng-if="faleComigoForm.address.$error.pattern">Address must not be only integer/number/special character</span>
        <br>
        <span ng-style="{ 'color' : 'red'}" ng-if="!faleComigoForm.address.$valid">required</span>
        <label class="item item-input">
          <textarea ng-model="message.p_address" ng-pattern="/[A-Za-z0-9'\.\-\s\,]/" name="address" placeholder="address" required></textarea>
        </label>

        <span ng-style="{ 'color' : 'red' }" ng-if="faleComigoForm.region.$error.pattern">Region must not be only integer/number/special character</span>
        <br>
        <span ng-style="{ 'color' : 'red'}" ng-if="!faleComigoForm.region.$valid">required</span>
        <label class="item item-input">
          <input ng-model="message.p_region" ng-pattern="/[A-Za-z0-9'\.\-\s\,]/" name="region" type="text" placeholder="Region" required>
        </label>-->

      </div>
    </form>

      <div class="padding container">
        <div class="row">
          <button ng-click="final_submittion(message,faleComigoForm)" class="button button-positive  button-small icon ion-android-add-circle col col-80 col-offset-10"> Sign Up </button>
        </div>
        <br>
        <div class="row">
          <a class="button button-positive  button-small icon ion-arrow-left-a col col-80 col-offset-10" ui-sref="login"> Log In</a>
        </div>

      </div>


  </ion-content>
</ion-view>
